<header class="header">
    <nav class="navbar">
        <ul class="list">
            <li class="list-item"><a class="active" href="/">Bank</a></li>
            <li class="list-item"><a href="/person/taxReturn">Tax Return</a></li>
        </ul>
    </nav>
</header>