<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation-menu.ejs') %>   
    <main>
        <h1>Bank Tax Rates</h1>
        <p>More than or equal to 1 lac: 10%</p>
        <p>More than or equal to 2 lac: 15%</p>
        <p>More than or equal to 3 lac: 20%</p>
        <p>More than or equal to 4 lac: 25%</p>
    </main>
<%- include('includes/end.ejs') %>